# Secrets
.env

# Maven
backend/target/
backend/.mvn/
!backend/.mvn/wrapper/maven-wrapper.jar
backend/mvnw
backend/mvnw.cmd

# Node
frontend/node_modules/
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Docker
*.log

# IDE
.idea/
*.iml
.vscode/
*.swp
*.swo
.DS_Store

# Postgres data (si monté localement)
pgdata/
